<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="Nome" formControlName="nome" [ngClass]="aplicaCssErro('nome')" required>
        <div class="invalid-feedback">
          Coloque um nome.
        </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" [ngClass]="aplicaCssErro('email')" required>
      <div class="invalid-feedback" *ngIf="verificaEmailDigitado()">
        Digite um email.
      </div>
      <div class="invalid-feedback" *ngIf="verificaEmailInvalido()">
        Email inválido.
      </div>
    </div>
    <div formGroupName="endereco">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="CEP" class="form-label">CEP</label>
          <input type="text" class="form-control" id="cep"  formControlName="cep" (blur)="consultaCEP()"
          [ngClass]="aplicaCssErro('endereco.cep')">
          <campo-erro [mostrar]="verificaValidTouched('endereco.cep')" erro='Cep inválido'></campo-erro>
        </div>
        <div class="form-group col-md-2">
          <label for="Numero" class="form-label">Número</label>
          <input type="number" class="form-control" id="numero"  formControlName="numero"
          [ngClass]="aplicaCssErro('endereco.numero')">
        </div>
        <div class="form-group col-md-8">
          <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="Complemento"  formControlName="complemento"
        [ngClass]="aplicaCssErro('endereco.complemento')">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="rua" class="form-label">Rua</label>
          <input type="text" class="form-control" id="Rua"  formControlName="rua"
          [ngClass]="aplicaCssErro('endereco.rua')">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="bairro" class="form-label">Bairro</label>
          <input type="text" class="form-control" id="Bairro"  formControlName="bairro"
          [ngClass]="aplicaCssErro('endereco.bairro')">
        </div>
        <div class="form-group col-md-4">
          <label for="cidade" class="form-label">Cidade</label>
          <input type="text" class="form-control" id="cidade"  formControlName="cidade"
          [ngClass]="aplicaCssErro('endereco.cidade')">
        </div>
        <div class="form-group col-md-4">
          <label for="estado" class="form-label">Estado</label>
          <!--input type="text" class="form-control" id="estado"  formControlName="estado"
          [ngClass]="aplicaCssErro('endereco.estado')"-->
          <select class="form-control" id="estado" formControlName="estado">
            <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{estado.nome}}</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="resetar()">Submit</button>
    <app-form-debug [form]="formulario"></app-form-debug>
  </form>

